html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#workspace {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#codegen {
    right: 3%;
    top: 3%;
    position: absolute;
    z-index: 100;
    padding: 10px;
}


.blocklyToolboxCategoryLabel {
  color: white;
}

.blocklyToolboxContents {
  padding: 0.5em;
}



.blocklyToolboxCategory {
  padding: 3px;
  margin-bottom: 0.5em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  border-radius: 5px;
}

.blocklyToolboxCategory:hover {
    border-radius: 10px;
    padding: 3.5px;
    cursor: pointer;
}